<header>
  <h1>Pasapa</h1>
  <button class="shiny-button" routerLink="/home">Back</button>
  <div class="right">
  <button class="icon-button" (click)="toggleRules()">❓</button>
  <button class="icon-button" (click)="toggleActionCard()">⚡ Action</button>
    </div>
</header>

<main>
  <div class="category-selector">
    <span class="cards-played">Nombre de cartes jouées: {{ cardsPlayed }}</span>
    <label for="category">Select Category:</label>
    <select id="category" (change)="onCategoryChange($event)">
      <option value="all">All</option>
      <option *ngFor="let category of uniqueCategories" [value]="category">{{ category }}</option>
    </select>
  </div>
  
  <div class="action-info">
    <p>Action du tour : <span class="classique">classique</span> ou <span class="action-title">{{ currentActionCard.title }}</span></p>
  </div>

  <div class="card-container">
    <div #cardElement class="card" [ngStyle]="{'background-color': currentCardColor}">
      <div class="category-badge">{{ currentCard.category }}</div>
      <div class="card-content">
        <h2>{{ currentCard.question }}</h2>
        <button class="shiny-button next-button" (click)="nextCard()">
          <span>Question suivante</span>
        </button>
      </div>
      <button class="scroll-button" (click)="scrollToInfo()">👁️</button>
    </div>
  </div>

<!-- Règles du jeu -->
<div class="popup" *ngIf="showRules">
  <div class="popup-content">
    <button class="close-button" (click)="toggleRules()">✖</button>
    <h2>Règles du jeu</h2>
    <p>
      Le jeu se déroule en plusieurs <strong>catégories de questions</strong> (7 au total), en commençant toujours par la catégorie <em>Léger</em>.
    </p>
    <ul>
      <li>Un <strong>tour de jeu</strong> se termine lorsque tous les joueurs ont répondu à une carte de la catégorie en cours.</li>
      <li>À la fin d’un tour, le groupe choisit de <em>rejouer dans la même catégorie</em> ou de <em>passer à la suivante</em>.</li>
      <li>À chaque tour, on tire également une <strong>carte Action</strong> au hasard, ce qui nous laisse le choix au moment de jouer de suivre :
        <ul>
          <li>soit la carte “classique” → répondre à la question,</li>
          <li>soit une <em>carte spéciale</em> →  il faut réaliser une action / répondre d'un certaine façon</li>
        </ul>
      </li>
      <li>Il est conseillé de terminer la partie par une carte de la catégorie <em>Ensemble</em>, même si vous arrêtez avant d’avoir joué toutes les catégories.</li>
    </ul>
    <p>
      Le but est d' <strong>échanger et discuter</strong>.
      Donc laissez-vous aller : digressez, sortez du sujet, parlez de tout et de rien !
    </p>
  </div>
</div>


<!-- Action Card Popup -->
<div class="popup" *ngIf="showActionCard">
  <div class="popup-content action-card">
    <button class="close-button" (click)="toggleActionCard()">✖</button>
    <div class="action-card-sections">
      <div class="classic">
        <h3>Jeu classique</h3>
        <p>Tu réponds à la question, les autres s’expriment / tu peux leur poser la question</p>
      </div>
      <div class="random">
        <h3>{{ currentActionCard.title }}</h3>
        <p>{{ currentActionCard.description }}</p>
        <button class="shiny-button" (click)="getRandomActionCard()">New Random Card</button>
      </div>
    </div>
  </div>
</div>


</main>

<div class="info-area">
  <h3>Cartes jouées</h3>
  <div class="played-cards">
    <span *ngFor="let cardName of playedCardNames; let i = index" class="card-name">
      {{ cardName }}<span *ngIf="i < playedCardNames.length - 1">, </span>
    </span>
    <p *ngIf="playedCardNames.length === 0">Aucune carte jouée pour le moment</p>
  </div>
</div>
