<main>
  <div id="container" [class.info-active]="showInfo">
    <!-- Main Content -->
    <div class="game-intro" [class.hide]="showInfo">
      <header class="title-section">
        <h1>Pasapa</h1>
        <h2>cartes surtables</h2>
        <p class="tagline">Explorez, Réfléchissez, Découvrez-vous</p>
      </header>
      <div class="button-container">
        <div class="shiny-button card-button" (click)="goToCard($event)">
          <span class="star"></span>
          Cartes d'Introspection
        </div>

        <div class="shiny-button fun-button" routerLink="/fun">
          Jeux d'Ambiance
        </div>

        <div class="shiny-button enigma-button rotating-3d" routerLink="/enigme">
          <span>Énigmes</span>
          <span>Énigmes</span>
          <span>Énigmes</span>
          <span>Énigmes</span>
        </div>
        
        <div class="shiny-button brainstorm-button" routerLink="/brainstorm" *ngIf="advancedModes">
          <div class="thought-bubble"></div>
          <div class="thought-bubble"></div>
          <div class="thought-bubble"></div>
          <div class="thought-bubble">🧠</div>
          Brainstorm - réflexion collective
        </div>
        
        <div class="shiny-button debates-button" routerLink="/ecsi" *ngIf="advancedModes">
          Débats Roleplay
        </div>
        
        <button class="shiny-button secondary" (click)="toggleOptions()">Options</button>
        <button class="shiny-button info" (click)="toggleInfo()">Infos</button>
        <a href="https://forms.gle/skvWgiUhYQkVCEoC9" target="_blank" class="contact-link">Contact</a>
      </div>

      <div class="options-panel" *ngIf="showOptions">
        <h2>Options</h2>
        <div class="option-item">
          <label>Thème:</label>
          <select [(ngModel)]="selectedTheme" (change)="updateTheme(selectedTheme)">
            <option value="light">Clair</option>
            <option value="dark">Obscur</option>
          </select>
        </div>
        <div class="option-item">
          <label>Mode:</label>
          <select [(ngModel)]="gameMode" (change)="updateGameMode(gameMode)">
            <option value="jeu">Jeu</option>
            <option value="libre">Libre</option>
          </select>
        </div>
        <div class="option-item">
          <label>Langue:</label>
          <select [(ngModel)]="selectedLanguage" (change)="updateLanguage(selectedLanguage)">
            <option value="fr">🇫🇷 Français</option>
            <option value="en">🇬🇧 English</option>
          </select>
        </div>
        <p> Merci Aurelia et passe une bonne soirée ! 😉</p>
        <div class="option-item">
          <label>Modes avancés:</label>
          <input type="checkbox" [(ngModel)]="advancedModes" (change)="updateAdvancedModes(advancedModes)">
        </div>
        <div class="warhammer-button" *ngIf="selectedTheme === 'dark'">
          <br/>
          <button class="button secondary" (click)="goToWarhammer($event)">Warhammer</button>
        </div>
      </div>
    </div>

    <!-- Info Panel -->
    <div class="info-panel" [class.active]="showInfo">
      <button class="close-button" (click)="toggleInfo()">×</button>

      <div class="info-section">
        <h2>Qu'est-ce que Pasapa ?</h2>
        <p>Cette appli est faite pour supporter le jeu que vous pouvez télécharger et imprimer librement. Le principe est d'avoir un support pour lancer facilement des discussions chouettes ! Idéal entre proches ou nouvelles connaissances, il s’utilise n’importe où (en voiture, en balade, autour d’un repas) et s’adapte à tous les contextes (discu rapide, plus profonde, faire une partie complète...)</p>
      </div>

      <div class="info-section">
        <h2>L'histoire derrière l'app</h2>
        <p>J'avais cette relation avec certains amis proches où l'on se lançait facilement dans de longues discussions profondes sur des sujets philosophiques ou intimes allant de ce que l'on veut faire de notre vie à nos difficultés familiales. Je ressentais le besoin d'un outil, quelque chose pour faciliter ce type de discussions et petit à petit que je puisses l'avoir avec d'autres amis qui comptent pour moi ou simplement me permettre de passer le temps quand je suis avec quelqu'un que je connais peu. Parfois c'est plus sympa de taper la discute plutôt que regarder les mouches voler mais c'est pas toujours simple à faire ! <br/>
           J'aimais bien le concept de "36 questions pour tomber amoureux" et l'idée d'un jeu de cartes pour papoter m'est vite venue à l'esprit. <br/>
          Le jeu doit donc être facile à transporter, utiliser dans toutes sortes de situations, permettre des discussions légères ou profondes et enfin offrir certaines mécaniques pour renforcer l'aspect jeu d'ambiance ce qui le rend à la fois fun et réutilisable.</p>
      </div>

      <div class="info-section">
        <h2>Vision & Perspectives</h2>
        <p> Aujourd'hui l'appli est un proto avec juste des questions, pas toujours top et n'offre pas trop de mécanique de jeu.
          Je me concentre surtout sur le jeu réel est physique que je trouve plus sympa et l'appli / site web sert surtout de support pour dépanner vite fait.
          Quand j'aurai fini de peaufiner le jeu, j'améliorerai l'appli pour faire un truc vraiment sympa.
        </p>
      </div>
    </div>

    <footer class="credits">
      <p>Créé par Arnaud GODET, Janvier 2025</p>
      <p> Mis à jour fin Août 2025</p>
      <p class="version">Version 1.6</p>
    </footer>
  </div>
  
  <!-- Splash Animation -->
  <div class="splash-overlay" [class.active]="showSplash">
    <div class="splash-circle"></div>
  </div>
  
  
  
  <!-- Warhammer Transition -->
  <div class="warhammer-transition" [class.active]="showWarhammerTransition">
    <div class="fade-content">
      <h1 class="fade-title">{{ warhammerText }}</h1>
    </div>
  </div>
  
  <!-- Star Transition -->
  <!-- Only render the overlay when active -->
<div *ngIf="showStarTransition" class="star-transition">
  <div class="expanding-star">⭐</div>
</div>

</main>
