<main>
  <div id="container" [class.info-active]="showInfo">
    <!-- Main Content -->
    <div class="game-intro" [class.hide]="showInfo">
      <header class="title-section">
        <h1>Pasapa</h1>
        <h2>cartes surtables</h2>
        <p class="tagline">Explorez, Réfléchissez, Découvrez-vous</p>
      </header>
      <div class="button-container">
        <div class="shiny-button card-button" (click)="goToCard($event)">
          <span class="star"></span>
{{ infoContent.buttons.introspection }}
        </div>

        <div class="shiny-button couple-button" routerLink="/couple">
          {{ infoContent.buttons.couple }}
        </div>

        <div class="shiny-button fun-button" routerLink="/fun" *ngIf="advancedModes">
{{ infoContent.buttons.fun }}
        </div>

        <div class="shiny-button enigma-button rotating-3d" routerLink="/enigme">
          <span>{{ infoContent.buttons.enigmas }}</span>
          <span>{{ infoContent.buttons.enigmas }}</span>
          <span>{{ infoContent.buttons.enigmas }}</span>
          <span>{{ infoContent.buttons.enigmas }}</span>
        </div>
        
        <div class="shiny-button brainstorm-button" routerLink="/brainstorm" *ngIf="advancedModes">
          <div class="thought-bubble"></div>
          <div class="thought-bubble"></div>
          <div class="thought-bubble"></div>
          <div class="thought-bubble">🧠</div>
{{ infoContent.buttons.brainstorm }}
        </div>
        
        <div class="shiny-button debates-button" routerLink="/ecsi" *ngIf="advancedModes">
{{ infoContent.buttons.debates }}
        </div>
        
        <button class="shiny-button info-button" (click)="toggleInfo()">{{ infoContent.buttons.info }}</button>
        <button class="shiny-button secondary" (click)="toggleOptions()">{{ infoContent.buttons.options }}</button>
        <a href="https://forms.gle/skvWgiUhYQkVCEoC9" target="_blank" class="contact-link">Contact</a>
      </div>

      <div class="options-panel" *ngIf="showOptions">
        <h2>Options</h2>
        <div class="option-item">
          <label>Thème:</label>
          <select [(ngModel)]="selectedTheme" (change)="updateTheme(selectedTheme)">
            <option value="light">Clair</option>
            <option value="dark">Obscur</option>
          </select>
        </div>
        <div class="option-item">
          <label>Mode:</label>
          <select [(ngModel)]="gameMode" (change)="updateGameMode(gameMode)">
            <option value="jeu">Jeu</option>
            <option value="libre">Libre</option>
          </select>
        </div>
        <div class="option-item">
          <label>Langue:</label>
          <select [(ngModel)]="selectedLanguage" (change)="updateLanguage(selectedLanguage)">
            <option value="fr">🇫🇷 Français</option>
            <option value="en">🇬🇧 English</option>
            <option value="es">🇪🇸 Español</option>
          </select>
        </div>
        <div class="option-item">
          <label>Modes avancés:</label>
          <input type="checkbox" [(ngModel)]="advancedModes" (change)="updateAdvancedModes(advancedModes)">
        </div>
        <div class="warhammer-button" *ngIf="selectedTheme === 'dark'">
          <br/>
          <button class="button secondary" (click)="goToWarhammer($event)">Warhammer</button>
        </div>
      </div>
    </div>

    <!-- Info Panel -->
    <div class="info-panel" [class.active]="showInfo">
      <button class="close-button" (click)="toggleInfo()">×</button>
      <h1> Infos : <br/> <br/> </h1>
      <a href="https://godeta-github-io.vercel.app" target="_blank" class="website-link text-xl">Site web officiel</a>
      <div class="info-section">
        <h2>{{ infoContent.section1.title }}</h2>
        <p>{{ infoContent.section1.content }} </p>
      </div>

      <div class="info-section">
        <h2>{{ infoContent.section2.title }}</h2>
        <p [innerHTML]="infoContent.section2.content"></p> </div>

      <div class="info-section">
        <h2>{{ infoContent.section3.title }}</h2>
        <p> {{ infoContent.section3.content }} </p>
      </div>
    </div>

    <footer class="credits">
      <p>Créé par Arnaud GODET, Janvier 2025</p>
      <p> Début Septembre 2025</p>
      <p class="version">Version 2.1</p>
    </footer>
  </div>
  
  <!-- Splash Animation -->
  <div class="splash-overlay" [class.active]="showSplash">
    <div class="splash-circle"></div>
  </div>
  
  
  
  <!-- Warhammer Transition -->
  <div class="warhammer-transition" [class.active]="showWarhammerTransition">
    <div class="fade-content">
      <h1 class="fade-title">{{ warhammerText }}</h1>
    </div>
  </div>
  
  <!-- Star Transition -->
  <!-- Only render the overlay when active -->
<div *ngIf="showStarTransition" class="star-transition">
  <div class="expanding-star">⭐</div>
</div>

</main>
